.navbar-footer-wrapper {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.navbar-footer--item + .navbar-footer--item {
  margin-left: 1rem;
}
.navbar-footer--item {
  padding: 0.5rem 0;
}
.main-footer-wrapper {
  background-color: #f8f8f9;
}
.main-footer {
  padding: 1.875rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.chat-box {
  background: linear-gradient(-60deg, #4db2ec, #5188f7);
  box-shadow: 0px 2px 16px 0px rgb(77 178 236 / 80%);
  height: 31px;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.chat-box:hover {
  // background: #000;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ca1f43;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
}
