.stretch_row_980 {
    max-width: 980px;
    margin: auto;
  }
  .stretch_row_1200 {
    max-width: 1200px;
    margin: auto;
  }
  .top-header-field-t {
    background: linear-gradient(180deg,#f3f3f5,#fff);
    border-bottom: 1px solid #dcdadf;
  }
  .top-header-t {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-header__left,
  .top-header__right {
    display: flex;
    align-items: center;
  }
  .top-header__left-item a {
    color: #000;
    font-size: 11px;
  }
  .top-header__left-item a:hover {
    color:#ca1f43;
  }
  .top-header__left-item:first-child a {
    color: #ca1f43;
    font-weight: 500;
  }
  .top-header__right-item--ema {
    color: #000;
    font-size: 11px;
    font-weight: 600;
    position: relative;
  }
  .top-header__right-item--ema:before {
    position: absolute;
    content: '\2605';
    color: #ca1f43;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.top-header__right-item {
  border-right: solid 1px #dcdadf;
  padding-right: 10px;
  margin-left: 10px!important;
}
.top-header__right-item--phone,
.top-header__right-item--search {
  font-size: 11px;
  color: #000 !important;
}
.tdi_41 .tdb-head-search-btn i {
  font-size: 13px !important;
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;
  color: #000 !important;
}
.header-field-t {
  background: linear-gradient(180deg,#f3f3f5,#fff);
}
.header-t {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-t__left-img {
  height: 45px;
  width: auto;
  margin: 20px 0;
}
.header-t__right--list {
  display: flex;
  align-items: center;
}
.header-t__right--item {
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  margin-left: 0;
}
.header-t__right--item + .header-t__right--item {
  margin-left: 10px;
}

.header-t__right--btn {
  padding: 3px 15px;
  background: #fff;
  border: 1px solid #dcdadf;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.header-t__right--btn:nth-child(n + 3){
  background: linear-gradient(180deg, #fff, #f2f2f2);
}
.header-t__right--item a{
  color: #4c4c4c;
}
.header-t__right--item__legend {
  height: 47px;
  width: auto;
}
.menu-item.menu-item-type-post_type:first-child .tdb-menu-item-text{
  font-size: 16px;
}
.menu-item.menu-item-type-post_type:first-child a{
  line-height: 1;
  height: 38px;
  display: flex;
  align-items: center;
}
.menu-item.menu-item-type-post_type:first-child {
  padding: 0 !important;
}
.tdb-menu-item-text {
  font-size: 11px;
}
.menu-item.menu-item-type-taxonomy a {
  border-left: solid 1px #019e90;
  border-right: solid 1px #006b62;
  padding: 1px 9px !important;
}
.tdi_31_rand_style {
  background-color: #007f74 !important;
}
.tdb_header_menu .tdb-menu > li:first-child {
  background: #007f74;
}
.tdi_38 .tdb-menu > li > a:after {
  background: #00665d !important;
}
.tdi_38 .tdb-menu ul .tdb-normal-menu > a {
  padding: 5px 10px !important;
}
.tdi_38 .tdb-menu ul .tdb-normal-menu:hover > a {
  background-color: #00665d !important;
}
.menu-item.menu-item-type-taxonomy:last-child a {
  border-right: 0;
}
.td-header-mobile-wrap {
    z-index: 1000;
}
h3.entry-title.td-module-title {
  font-size: 14px;
}
#tdi_153 {
  display: none;
}
.td-scroll-up {
  background-color: #00665d !important;
}