#main {
  padding-top: 1.5625rem;
}
.main-row-one {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1.5rem;
}
.main-row-one__left--large {
  padding-bottom: 12.5px;
  border-bottom: 1px dashed #e5e5e5;
}
.main-row-one__left--large-content {
  padding-top: 0.8125rem;
}
.main-row-one__left--large-title {
  margin-bottom: 0.375rem;
}
.main-row-one__left--thumb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  padding-top: 12.5px;
}
.main-row-one__left--thumb-content,
.main-row-one__center--thumb-content {
  padding-top: 0.8125rem;
}
.main-row-one__left--thumb-title,
.main-row-one__center--thumb-title {
  margin-bottom: 0.375rem;
}
.main-row-one__center--thumb-block,
.old-newspaper__item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-top: 1px dashed #e5e5e5;
}
.main-row-one__center--thumb-block-img {
  width: 35%;
}
.main-row-one__center--thumb-block-content {
  width: 65%;
  padding-left: 0.625rem;
}
.main-row-one__center--thumb {
  margin-top: 1rem;
}
.old-newspaper {
  background-color: #f4f7fb;
}
.old-newspaper__item:first-of-type {
  border-top: none;
  padding-top: 0;
  padding-bottom: 0;
}
.old-newspaper__item:last-of-type {
  padding-bottom: 0;
}
.old-newspaper__title {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #d6dce2;
  margin-bottom: 1.5rem;
}
.main-row-one__right--thumb-title {
  padding-top: 0.8125rem;
  margin-bottom: 0.375rem;
}
.main-row-two {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e5e5e5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.main-row-two__left--title {
  position: relative;
  margin-bottom: 1.75rem;
}
.main-row-two__left--title::before {
  position: absolute;
  content: "";
  background-color: #f5f5f5;
  height: 0.125rem;
  width: 100%;
  bottom: -0.625rem;
  left: 0;
}
.main-row-two__left--title::after {
  position: absolute;
  content: "";
  background-color: #c90000;
  height: 0.125rem;
  width: 3.125rem;
  bottom: -0.625rem;
  left: 0;
}
.main-row-two__left--content,
.main-row-two__right--content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.main-row-two__right--list .main-row-one__center--thumb-block:first-of-type {
  border-top: none;
  padding-top: 0;
}
